DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=app

RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

APP_NAME=TestProject
APP_DESCRIPTION="тестовый проект по ИТМО обучению"
API_VERSION=10